#clientDetailbutton{
    color: #6bafdb;
    border: none;
    font-size: 30px;
    background: none;
}

#clientTimesheetbutton{
    color: grey;
    border: none;
    font-size: 30px;
    background: none;
}

#clientDetailHR{
    color: #6bafdb;
    border: 1px solid;
}

#clientTimesheetHR{
    color: grey;
    border: 1px solid;
}